<div class="row">
    <% @items.each do |item| %>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag item.picture, class: "card-img-top show_img" %> 
            <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text menu_description"><%= item.description %></p>
                <p class="card-text">$<%= item.price %></p>
                <%= link_to "Show more", listing_path(item.id), class: "btn btn-dark" %>
            </div>
        </div>
    </div>
    <% end %>
</div>