<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
    <p>
      <%= image_tag @listing&.picture, class: "item_img" %> 
    </p>
    </div>
      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p>
              <strong>Name:</strong>
              <%= @listing.name %>
            </p>
            <p>
              <strong>Description:</strong>
              <%= @listing.description %>
            </p>
            <p>
              <strong>Price:</strong>
              <%= @listing.price %>
            </p>
            <p>
              <strong>Available:</strong>
              <%= @listing.available %>
            </p>
            <p>
              <strong>User:</strong>
              <%= @listing.user.username %>
            </p>
            <p>
              <strong>Category:</strong>
              <%= @listing.category %>
            </p>
          </div>
        </div>
    </div>
  </div>
  
<%#Ensures that user only has the buy option if the current listing is available %>
  <% if current_user && @listing.available == true %>
    <button data-stripe="payment" class="btn btn-primary p-3">Buy: $<%= @listing.price %></button>
  <% elsif @listing.available == false %>
    <button class="btn btn-secondary" disabled>SOLD</button>
  <% else %>
    <%= button_to "Login to buy", new_user_session_path, class: "btn btn-info" %>
  <% end %>
</div>

<%#Ensures that only the owner of a listing has access to edit %>
<% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', item_page_path %>

<%#JS to redirect user to Stripe checkout page%>
<script src="https://js.stripe.com/v3"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe(
    "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
    );
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>

